footer{
    width:100%;
    animation: fade-in 3s;
    box-shadow: 0px 0px 30px 1px turquoise;
    background-color: black;
}
@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}
.contacts{
    padding-top: 50px;
    padding-bottom: 50px;
}
.contactLink{
    margin-left: 10%;
    padding-bottom: 4px;
    color: turquoise;
    background-image: linear-gradient(100deg, turquoise, turquoise);
    background-repeat: no-repeat;
    background-position: 50% 105%;
    background-size: 0% 2px;
    text-decoration: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: .5s;
}
.contactLink:hover{
    color: var(--star-white);
    background-size: 100% 2px;
}
.aside{
    width: 12%;
    min-width: 150px;
    margin-right: 7%;
    padding-right: 3%;
    border-right: 4px solid navy;
    text-align: right;
    color: navy;
    font-size: x-large;
}
.flexContainer{
    display: flex;
    flex-wrap: no-wrap;
    column-gap: 100px;
}
.flexJustifyCenter{
    justify-content: center;
}
.flexAlignCenter{
    align-content: center;
}
.flexCol{
    flex-direction: column;
}
.flexRow{
    flex-direction: row;
}