.flexContainer{
    display: flex;
    justify-content: center;
}
#name{
    margin-right: auto;
    width: max-content;
}
.form-data{
    text-align: left;
    padding-left: 80px;
}
.form-data input,
.form-data textarea{
    border: 2px solid black;
    border-radius: 5px;
}
.form-data input:focus,
.form-data textarea:focus{
    box-shadow: 0 0 5px 0px;
    outline-style: solid;
}
label{
    font-weight: bold;
    font-size: 18px;
}
#name,
#email{
    margin-left: 15px;
}
#message{
    margin-left: 12px;
}
.contact-bg{
    background-image: url('../../images/pexels-abed-albaset-alhasan-5371015.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1000px;
}
.contactForm{
    background-color: rgb(0,0,0,.5);
    border: 5px solid black;
box-shadow: 0 0 10px 0px white;
    border-radius: 25px;
    padding: 25px;
}
.contactForm .main-header{
    margin-top: 0px;
}